* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
    /* border: 1px solid aqua; */
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid violet; */
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header img {
    width: 130px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 350px;
    /* border: 2px solid blue; */
}

.menu a {
   text-decoration: none;
   text-transform: uppercase;
   color: black;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolds;
}

.benner{
    position: s;
    border: 2px solid black;

}

.benner img{
    width: 100%;
}

.benner a {
    position: absolute;
    top: 50%;
    left: 60%;
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 150px;
    height: 45px;
    color: aquamarine;
    background-color: blue;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}